<!-- Special Instruction Checkboxes -->
<div class="special-instructions">
  <label>
    <input type="checkbox" id="checkbox1" name="special_instructions[]" value="Need by a specific date">
    Need by a specific date:
    <input type="date" id="specificDate" name="specific_date" class="field__input visually-hidden">
  </label>
  <label>
    <input type="checkbox" id="checkbox2" name="special_instructions[]" value="Ship to a different address">
    Ship to a different address
  </label>
  <label>
    <input
      type="checkbox"
      id="checkbox3"
      name="special_instructions[]"
      value="Would like information about samples"
    >
    Would like information about samples
  </label>
</div>